.chatcontainer-wrapper {
    position: relative;
    height: calc(100vh - 60px);

    .chatBoxTop {
        height: calc(100% - 120px);
        overflow-y: scroll;
        padding-right: 10px;

        &::-webkit-scrollbar {
            width: 5px;
            height: 10px;

            &-thumb {
                background-image: linear-gradient(117deg, #af0a78, #5a035a 102%);
                border-radius: 2px;
            }

            &-track {
                border-radius: 2px;
                background-color: rgb(214, 223, 141);
            }
        }
    }

    .chatBoxBottom {
        margin-top: 5px;
        display: flex;
        align-items: center;
        gap: 20px;
        position: absolute;
        bottom: 0;
        left: 0;
        right: 0;

        .right {
            flex: 1;
            border: 1px solid #424648;
            display: flex;
            

            .chatMessageInput {
                flex: 3;
                background-color: transparent;
                height: 40px;
                padding: 10px;
                outline: none;
                border: none;
            }

            .container-img-message {
                flex: 1;
                display: flex;
                justify-content: flex-end;
                height: 100px;
                margin: 4px;

                .img-message {
                    width: 100px;
                    height: 100%;
                    background-size: cover;
                    border-radius: 0px;
                    position: relative;
                    .btn-close {
                        position: absolute;
                        top: 0;
                        right: 0;
                        color: red;
                        cursor: pointer;
                    }
                }
            }
        }


        .chatSubmitButton {
            width: 70px;
            height: 40px;
            border: none;
            border-radius: 5px;
            cursor: pointer;
            background-color: teal;
            color: white;
        }

    }
}